body {
    margin: 0;
    padding: 0;
    height: 100vh;
    scroll-behavior: smooth;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    width: 50vw;
    height: 25vh;
    font-size: 3rem;
    font-weight: 700;
    background-color: rgb(231, 215, 186);
    border-radius: 30px;
    border-color: transparent;
    transition: 0.25s ease-in-out;
}

.buyBtn {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(123, 114, 97);
}

button:hover {
    transform: scale(1.1);
    letter-spacing: 10px;
}